.proficient {
    padding-bottom: 0.5rem;
    box-shadow: inset 0 -5px 0 0 #5cb85c; /* Bootstrap Green */
}

.comfortable {
    padding-bottom: 0.5rem;
    box-shadow: inset 0 -5px 0 0 #0275d8; /* Bootstrap Blue */ 
}

.skill-disabled {
    box-shadow: inset 0 -5px 0 0 #636c72 /* Boostrap Muted */
}