/*General CSS*/
@media(max-width: 767px) {
    .col-sm {
        display: none;
    }
}

@media(max-width: 991px) {
    .col-md {
        display: none;
    }
}

@media(min-width: 768px) {
    .vertical-align {
        display: flex;
        align-items: center;
    }
}