/*General CSS*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-bottom: 20px;
}

.fa:hover, .fa:focus{
  text-decoration: none;
  color: white;
  opacity: 0.7;
}

.fa + .fa {
   margin-left: 5px;
}

.fa-envelope {
  background: #ff8100;
  color: white;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-flickr {
  background: #ff0084;
  color: white;
}

.fa-github {
  background: #333;
  color: white;
}

.fa-instagram {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  color: white;
}

.fa-linkedin-square {
  background: #0077b5;
  color: white;
}

.fa-twitter {
  background: #1da1f2;
  color: white;
}

.fa-youtube {
  background: #cd201f;
  color: white;
}

.fa-500px {
  background: #0099e5;
  color: white;
}